/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoslab/v11/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmb2Rm.ttf) format('truetype');
}
@font-face {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ruda Regular'), local('Ruda-Regular'), url(https://fonts.gstatic.com/s/ruda/v11/k3kfo8YQJOpFqngdbQ.ttf) format('truetype');
}
html,
body {
  height: 100%;
}
header {
  max-width: 100%;
  background-color: #E9967A;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 20%;
}
header h3 {
  font-size: 50px;
  font-family: 'Ruda', sans-serif;
}
header p {
  font-family: 'Roboto Slab', serif;
}
.whole {
  display: flex;
  height: 80%;
}
.whole .left {
  width: 30%;
  background-color: #E6E6FA;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.whole .right {
  width: 70%;
  background-color: #F0E68C;
}
.whole .right .profile {
  height: 25%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
.whole .right .profile h3 {
  font-size: 30px;
  font-family: 'Ruda', sans-serif;
}
.whole .right .profile p {
  font-family: 'Roboto Slab', serif;
}
.whole .right .experience {
  height: 20%;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  height: 45%;
}
.whole .right .experience h3 {
  font-size: 30px;
  font-family: 'Ruda', sans-serif;
}
.whole .right .experience p {
  font-family: 'Roboto Slab', serif;
}
.whole .right .education {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  padding-left: 50px;
  height: 20%;
}
.whole .right .education h3 {
  font-size: 30px;
  font-family: 'Ruda', sans-serif;
}
.whole .right .education p {
  font-family: 'Roboto Slab', serif;
}
.whole .right .awards {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  padding-left: 50px;
  height: 10%;
}
.whole .right .awards h3 {
  font-size: 30px;
  font-family: 'Ruda', sans-serif;
}
.whole .right .awards p {
  font-family: 'Roboto Slab', serif;
}
